block config

doctype
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0 ')
        title Lorem Ipsum
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic,700,700italic,400italic', type='text/css')
        link(rel='stylesheet', media='all', href='css/all.css', type='text/css')
        link(type='image/x-icon', href='images/favicon.ico', rel='icon')
        link(href='images/favicon.ico', rel='shortcut icon')

    body

    #wrapper
        a.skip(href='#main') Skip to Content 
        .header-fake

    // Menu Bar
    header#header
        .holder
            .panel
                .panel-holder
                    ul.alt
                        li
                            a(href='1-index-layout-1.html') Index
                        li
                            a(href='2-index-layout-2.html') Next
                        li.item
                            a.btn-social.tab-link(href='#tab03') social links
                    ul
                        li
                            a.home(href='#') home
                        li
                            a.btn-search.tab-link(href='#tab01') search form tab
                        li.item2
                            a.tab-link(href='#tab02') Request Lorem Ipsum 
                            strong.call
                                em or
                                |   Call Us 
                                strong Lorem Ipsum
                .panel-slide
                    #tab01.slide.slide-alt
                        .slide-holder
                            a.close(href='#') close
                            form.form-search(action='#')
                                fieldset
                                    legend form search
                                    input(type='submit', value='GO')
                                    span.field
                                        input(type='text', placeholder='Search Lorem Ipsum', title='Search')
                    #tab02.slide
                        .slide-holder
                            a.close(href='#') close
                            .txt-block
                                strong.title Lorem Ipsum è un testo
                                p
                                    | Lorem utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard.
                            form.form-request(action='#')
                                fieldset
                                    legend form request
                                    .area
                                        .col
                                            .row
                                                input(type='text', placeholder='Full Name', title='Full Name')
                                            .row
                                                input(type='text', placeholder='Company Name', title='Company Name')
                                        .col.col-alt
                                            .row
                                                input(type='email', placeholder='Email Address', title='Email Address')
                                            .row
                                                input(type='tel', placeholder='Phone Number', title='Phone Number')
                                    .row
                                        input(type='submit', value='SUBMIT')
                                        p
                                            | We will contact Lorem Ipsum. You can also email Lorem Ipsum 
                                            a(href='#;') #
                    #tab03.slide
                        .slide-holder
                            a.close(href='#') close
                            .social-block
                                .txt-block
                                    strong.title Lorem Ipsum Social Connections
                                    p Join us online for up to Lorem Ipsum, Lorem Ipsum and Lorem Ipsum.
                                    .plugin
                                        img(src='images/placeholder-plugin.png', width='273', height='24', alt='plugin')
                                nav
                                    ul
                                        li
                                            a.ico1(href='#') Lorem Ipsum
                                        li
                                            a.ico2(href='#') Lorem Ipsum
                                        li
                                            a.ico3(href='#') Follow via Lorem Ipsum
                                        li
                                            a.ico4(href='#') Follow via Lorem Ipsum
                                    ul
                                        li
                                            a.ico5(href='#') Connect Lorem Ipsum
                                        li
                                            a.ico6(href='#') Follow Lorem Ipsum Today
                                        li
                                            a.ico7(href='#') Follow Lorem Ipsum
                                        li
                                            a.ico8(href='#') Follow Lorem Ipsum+
            // Logo
            .header-box
                strong.logo.vcard
                    a.fn.org.url(href='#') Lorem Ipsum
                nav#nav
                    a.opener(href='#') Menu
                    ul.navigation
                        li
                            a.opener-drop(href='#')
                                span Lorem Ipsum
                            .drop
                                .top
                                    a(href='#')
                                        span
                                            strong Control the Lorem Ipsum
                                            |  Read More
                                .drop-holder
                                    .col
                                        ul
                                            li
                                                a(href='#')
                                                    span Lorem Ipsum
                                            li
                                                a(href='#')
                                                    span Lorem Ipsum
                                            li
                                                a(href='#')
                                                    span Lorem Ipsum
                                            li
                                                a(href='#')
                                                    span Lorem Ipsum
                                            li
                                                a(href='#')
                                                    span Lorem Ipsum
                                    .col.col-alt
                                        ul
                                            li
                                                a(href='#')
                                                    span Lorem Ipsum
                                            li
                                                a(href='#')
                                                    span Lorem Ipsum
                                            li
                                                a(href='#')
                                                    span Lorem Ipsum
                                            li
                                                a(href='#')
                                                    span Lorem Ipsum
                                            li
                                                a(href='#')
                                                    span Lorem Ipsum
                        li
                            a.opener-drop(href='#')
                                span Lorem Ipsum
                            .drop
                                .top
                                    a(href='#')
                                        span
                                            strong Control the Lorem Ipsum
                                            |  Read More
                                .drop-holder
                                    .col
                                        ul
                                            li
                                                a(href='#') Lorem Ipsum
                                            li
                                                a(href='#') Lorem Ipsum
                                                ul
                                                    li
                                                        a(href='#') Lorem Ipsum
                                                    li
                                                        a(href='#') Lorem Ipsum
                                            li
                                                a(href='#') Lorem Ipsum
                                            li
                                                a(href='#') Lorem Ipsum
                                                ul
                                                    li
                                                        a(href='#') Lorem Ipsum
                                                    li
                                                        a(href='#') Lorem Ipsum
                                                    li
                                                        a(href='#') Lorem Ipsum
                                            li
                                                a(href='#') Lorem Ipsum
                                    .col.col-alt
                                        ul
                                            li
                                                a(href='#') Lorem Ipsum
                                                ul
                                                    li
                                                        a(href='#') Lorem Ipsum
                                                    li
                                                        a(href='#') Lorem Ipsum
                                                    li
                                                        a(href='#') Lorem Ipsum
                                                    li
                                                        a(href='#') Lorem Ipsum
                                            li
                                                a(href='#') Lorem Ipsum
                                                ul
                                                    li
                                                        a(href='#') Lorem Ipsum
                                                    li
                                                        a(href='#') Lorem Ipsum
                                                    li
                                                        a(href='#') Lorem Ipsum
                                            li
                                                a(href='#') Lorem Ipsum
                                            li
                                                a(href='#') Lorem Ipsum
                                            li
                                                a(href='#') Lorem Ipsum
                        li
                            a.opener-drop(href='#')
                                span Lorem Ipsum
                            .drop
                                .top
                                    a(href='#')
                                        span
                                            strong The Future of Lorem Ipsum
                                            |  Read More
                                .drop-holder
                                    .col
                                        ul
                                            li
                                                a(href='#')
                                                    span Lorem Ipsum
                                                ul
                                                    li
                                                        a(href='#')
                                                            span Lorem Ipsum
                                                    li
                                                        a(href='#')
                                                            span Lorem Ipsum
                                                    li
                                                        a(href='#')
                                                            span Lorem Ipsum
                                                    li
                                                        a(href='#')
                                                            span Lorem Ipsum
                                                    li
                                                        a(href='#')
                                                            span Lorem Ipsum
                                                    li
                                                        a(href='#')
                                                            span Lorem Ipsum
                                                    li
                                                        a(href='#')
                                                            span Lorem Ipsum
                                                    li
                                                        a(href='#')
                                                            span Lorem Ipsum
                                                    li
                                                        a(href='#')
                                                            span Lorem Ipsum
                                                    li
                                                        a(href='#')
                                                            span Lorem Ipsum
                                                    li
                                                        a(href='#')
                                                            span Lorem Ipsum
                                                    li
                                                        a(href='#')
                                                            span Lorem Ipsum
                                                    li
                                                        a(href='#')
                                                            span Lorem Ipsum
                                    .col.col-alt
                                        ul
                                            li
                                                a(href='#')
                                                    span Lorem Ipsum
                                            li
                                                a(href='#')
                                                    span Lorem Ipsum
                                            li
                                                a(href='#')
                                                    span Lorem Ipsum
                                            li
                                                a(href='#')
                                                    span Lorem Ipsum
                                            li
                                                a(href='#')
                                                    span Lorem Ipsum
                                            li
                                                a(href='#')
                                                    span Lorem Ipsum
                                            li
                                                a(href='#')
                                                    span Lorem Ipsum
                                                ul
                                                    li
                                                        a(href='#')
                                                            span Lorem Ipsum
                                                    li
                                                        a(href='#')
                                                            span Lorem Ipsum
                                            li
                                                a(href='#')
                                                    span Lorem Ipsum
                                            li
                                                a(href='#')
                                                    span Lorem Ipsum as a Lorem Ipsum
                        li
                            a(href='#')
                                span Lorem Ipsum

//////////////////////////
    .container-fluid
        block content
//////////////////////////


// Footer
footer#footer
    .holder
        // Footer Sub Section
        section.footer-box
            h2 Lorem Ipsum Recent Feeds
            article
                h3 Lorem Ipsum Post
                time(datetime='2012-12-30') Post. Lorem Ipsum
                p Lorem Ipsum è un testo segnaposto.
                p Lorem Ipsum è un testo segnaposto utilizzato ne...
                a.btn-more(href='#') Read More
            article
                h3 Lorem Ipsum Post
                time(datetime='2012-12-30') Post. Lorem Ipsum
                p Lorem Ipsum è un testo segnaposto.
                p Lorem Ipsum è un testo segnaposto utilizzato ne...
                a.btn-more(href='#') Read More
            article.last
                h3 Lorem Ipsum Post
                time(datetime='2012-12-30') Post. Lorem Ipsum
                p Lorem Ipsum è un testo segnaposto.
                p Lorem Ipsum è un testo segnaposto utilizzato ne...
                a.btn-more(href='#') Read More
        // Footer Section
        .footer-nav
            a.opener(href='#') EXPAND FOOTER MENU
            .slide
                nav
                    .box
                        h3
                            span Lorem Ipsum
                        ul
                            li
                                a(href='#')
                                    span Lorem Ipsum
                            li
                                a(href='#')
                                    span Lorem Ipsum
                            li
                                a(href='#')
                                    span Lorem Ipsum
                            li
                                a(href='#')
                                    span Lorem Ipsum
                            li
                                a(href='#')
                                    span Lorem Ipsum
                    .box
                        h3
                            span Lorem Ipsum
                        ul
                            li
                                a(href='#')
                                    span Lorem Ipsum
                            li
                                a(href='#')
                                    span Lorem Ipsum
                            li
                                a(href='#')
                                    span Lorem Ipsum
                            li
                                a(href='#')
                                    span Lorem Ipsum
                            li
                                a(href='#')
                                    span Lorem Ipsum
                    .box
                        h3
                            span Lorem Ipsum
                        ul
                            li
                                a(href='#')
                                    span Lorem Ipsum
                            li
                                a(href='#')
                                    span Lorem Ipsum
                            li
                                a(href='#')
                                    span Lorem Ipsum
                            li
                                a(href='#')
                                    span Lorem Ipsum
                            li
                                a(href='#')
                                    span Lorem Ipsum
                    .box
                        h3
                            span Lorem Ipsum
                        ul
                            li
                                a(href='#')
                                    span Lorem Ipsum
                            li
                                a(href='#')
                                    span Lorem Ipsum
                            li
                                a(href='#')
                                    span Lorem Ipsum
                            li
                                a(href='#')
                                    span Lorem Ipsum
                            li
                                a(href='#')
                                    span Lorem Ipsum
        // Footer Bar Section
        .footer-panel
            a.add-logo(href='#') logo
            ul
                li
                    | Copyright © 
                    a(href='#') Lorem Ipsum
                    | . All rights reserved.
                li.alt-item Disclaimer
                li
                    span
                        | Call Us 
                        strong Lorem Ipsum
// Footer End Section

a.skip(href='#wrapper') Back to top


    // jQuery
        script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery-1.8.3.min.js')
        script(type='text/javascript').
            window.jQuery || document.write('<script type="text/javascript" src="js/jquery-1.8.3.min.js"><\\/script>');
            script(type='text/javascript', src='js/jquery.main.js')
    //if lt IE 9
        link(rel='stylesheet', media='all', href='css/ie.css', type='text/css')
    //if IE
        script(type='text/javascript', src='js/ie.js')
