.area .btn-more,
.container .btn-more,
.post .btn-more,
.contact-box .btn,
.form-join input[type="submit"],
.form-search input[type="submit"],
.form-request input[type="submit"],
.form input[type="submit"],
.form-contact input[type="submit"] {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aaee4', endColorstr='#3294cb',GradientType=0 );}.area .btn-more,
.container .btn-more:hover,
.post .btn-more:hover,
.contact-box .btn:hover,
.form-join input[type="submit"]:hover,
.form-search input[type="submit"]:hover,
.form-request input[type="submit"]:hover,
.form input[type="submit"]:hover,
.form-contact input[type="submit"]:hover,
.area .btn-more:hover {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3291cd', endColorstr='#4bade6',GradientType=0 );}
#nav li a:hover,
#nav li:hover a {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff',GradientType=0 );}
#nav li:hover .drop a {filter:none;}
.bar .btns a,
.direction .btns a {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbc365', endColorstr='#f9ae29',GradientType=0 );}
.bar .btns a:hover,
.direction .btns a:hover {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fab00a', endColorstr='#fcc55d',GradientType=0 );}
.bar .btns .btn-alt {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d5d5', endColorstr='#b6b6b6',GradientType=0 );}
.bar .btns .btn-alt:hover {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6b6b6', endColorstr='#d4d4d4',GradientType=0 );}
.footer-panel {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#393939', endColorstr='#2b2b2b',GradientType=0 );}
.page-title {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4ae52', endColorstr='#e4ae52',GradientType=0 );}
.gallery .btn-prev,
.gallery .btn-next {background:#000;}
.nav-tab ul li a {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );}
.nav-tab ul li.active a {filter:none;}
.gallery .btn-prev,
.gallery .btn-next,
.section-slideshow .slideshow2 .btn-prev,
.section-slideshow .slideshow2 .btn-next,
.area-tabs-gallery .btn-prev,
.area-tabs-gallery .btn-next {background:#333;}
@media only screen and (max-width:1023px) {#nav li:hover a {filter:none;}}
